body {
  background-color: rgba(190, 190, 190, 0.37);
  margin: 200px 350px 200px 350px;
  background: url('sea.jpg');
  background-size: cover;
}

div.container {
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.39);
  padding: 50px;
  box-shadow: 10px 10px 25px 20px rgba(0, 0, 0, 0.308);
}

form {
  margin: 50px 100px 30px 100px;
  padding: 10px;
}

.col-12 {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 8px;
}

input:active {
  box-shadow: 2px 2px 10px 4px rgba(23, 97, 235, 0.308);
}

input:valid {
  box-shadow: 2px 2px 10px 4px rgba(23, 235, 111, 0.438);
}

button.bt {
  border-radius: 25px;
  margin: 30px 0px 30px 0px;
  color: white;
  background: rgb(48, 93, 240);
  border: none;
  padding: 2px;
}

.bt:hover {
  background-color: black;
  color: white;
}

@media (width <=576px) {
  body {
    margin: 10px;
    background-color: rgb(131, 231, 238);
  }

  .bt {
    margin-bottom: 20px;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (576px < width <=768px) {
  body {
    margin: 30px;
    background-color: rgb(231, 126, 208);
  }
}

@media (768px < width <=992px) {
  body {
    margin: 70px;
    background-color: rgb(183, 228, 138);
  }
}

@media (992px < width <=1300px) {
  body {
    margin: 200px 250px 200px 250px;
    background-color: rgb(174, 184, 33);
  }
}

